<section class="container p-4">
  <section class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Carrera</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of data">
          <td>{{ dato.nombre }}</td>
          <td>{{ dato.apellido }}</td>
          <td>{{ dato.carrera }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteData(dato.id)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="row">
    <section class="col-md-4">
      <section class="card card-body">
        <h3>Formulario de registro</h3>
        <form>
          <section class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre"
              [(ngModel)]="nombre"
              name="nombre"
            />
          </section>
          <section class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Apellido"
              [(ngModel)]="apellido"
              name="apellido"
            />
          </section>
          <section class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Carrera"
              [(ngModel)]="carrera"
              name="carrera"
            />
          </section>
          <section class="form-group text-center mt-4">
            <button class="btn btn-primary" (click)="addData()">Guardar</button>
          </section>
        </form>
      </section>
    </section>
  </section>
</section>
